# Python
__pycache__/
*.pyc

# Dataset
data/ground_truth
data/preprocessed
data/raw
datasets/

# Model / output
models/
reports/
checkpoints/
results/
logs/
reports/
artifacts/
# Notebook
.ipynb_checkpoints/

# Environment
venv/
.env

# IDE
.vscode/
.idea/

# Running
*.slurm